@import "@/app/vars.module.scss";

.navigation {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}
.nav_icon {
  width: 20px;
  height: auto;
  color: $gray;
}
.nav_icon__active {
  width: 20px;
  height: auto;
  color: $orange;
}