@import "@/app/vars.module.scss";

.todoList {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  > :first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > h3 {
      margin-right: auto;
      color: $title;
    }
    svg {
      color: $gray;
    }
    p {
      color: $gray;
      font-size: 12px;
    }
  }
}

.listItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.listItem {
  background-color: $bg-block;
  padding: 10px;
  border-radius: 10px;

  > :first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h5 {
      color: $title;
    }
    svg {
      color: $gray;
    }
  }

  p {
    padding: 8px 0;
    font-size: 14px;
    color: $gray;
  }
}

.addItem {
  background-color: $bg-block;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  


  > :nth-child(1) {
    input {
      margin-top: 25px;
      color: $title;
      background-color: $bg-light;
      padding: 5px 10px;
      border-radius: 10px;
      width: 100%;
    }
    span {
      font-size: 12px;
      color: $error;
    }
  }

  > :nth-child(2) {
    textarea {
      font-size: 14px;
      color: $gray;
      width: 100%;
      color: $title;
      background-color: $bg-light;
      resize: none;
      outline: none;
      padding: 5px 10px;
      border-radius: 10px;
    }
    span {
      font-size: 12px;
      color: $error;
    }
  }
  > :nth-child(3) {
    background-color: $orange;
    color: $title;
    padding: 5px;
    border-radius: 10px;
  }

  > :nth-child(4) {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50% -50%);
  }
}


.addItemHidden {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  top:0;
}

.successAddTodo {
  position: absolute;
  inset: 0;
  background-color: $orange;
  color: $title;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: -1;
}

.visible {
  opacity: 1;
  z-index: 2;
}

.hidden {
  opacity: 0;
}
